header {padding: 1px 0px;
    margin: 3px;
    margin-bottom: 0px;
     font-size: large;
     background-color: rgb(57, 4, 47);
     
   }
  .header-image{
   padding:2px;
   background-color: aliceblue;
   width: 100px;
   margin: 2px;
   border-radius: 50%;
   position:fixed;
   left: 20px; 
   }
 
 
 ul{
     display: flex;
     list-style: none;
     height: auto;
     justify-content: right;
 }
   ul li a{
     margin: 0 28px;
     color: rgb(232, 164, 145);
   }
   h1 b {
     justify-content: center;
     display:flex;
     padding: 2px;
     font-style:normal;
     text-decoration: underline solid;
     position: relative;
     bottom: px;
 } 
 footer .foot{
    padding:20px 0px;
    margin: 3px;
    background-color: rgb(57, 4, 47);
    color: rgb(232, 164, 145);
    text-align: center;
    position:relative;
    display: flex;
    bottom:-69vb;
}
p1{
    margin:15px;
   justify-content: center;
   display: flex;
   font-size:20px;
  color:rgb(255, 255, 255);
 }
.text {
    font-size: 70px;
    
  }
  body{
    background-color:aliceblue;
  }
  #text{
    text-align: center;
    bottom: -100px;
    
  }